body {
  padding-top:30px;
}
#word-matrix {
  position:relative;
  margin-top:30px;
}
#word-matrix .letter {
  color: white;
  position: absolute;
  background: #333333;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
