body {
  padding-top:30px;
}
#word-matrix {
  position:relative;
  margin-top:30px;
}
#word-matrix .letter {
  color: white;
  position: absolute;
  background: #333333;
  width: 40px;
  line-height: 40px;
  text-align: center;
}


.coordinates {
  width: 100%;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 10px;
  color: #fff;
}
.coordinates .x {
  color: #CDDC39;
}
.coordinates .y {
  color: #4cdcd6;
}